@import "./fonts.css";
*{margin: 0;padding: 0;box-sizing: border-box;}
:root{
    --color--main: rgb(230,0,0);
    --color--dark: rgb(0, 0, 0);
    --color--light: rgb(255, 255, 255);

    --font_color--dark: rgb(0, 0, 0);
    --font_color--light: rgb(255, 255, 255);

    font-size: 62.5%;
}

a{
    color: inherit;
    text-decoration: none;
}
body{
    font-size: 1.6rem;
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}
input:focus, select:focus, button:focus{
    outline: none;
}
/* ------------------------------------------ */



/* ---------------------------- HEADER ---------------------------- */
header.header{
    z-index: 1000;
    width: 100%;
    line-height: 1.5;
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, .25);
}

/* header__top */
.header__top{
    width: 100%;
    background-color: var(--color--dark);
    color: var(--font_color--light);
    display: flex;
    justify-content: space-between;
    padding: .4rem 10%;
}
.header__top__social{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header__top__social > a{
    display: flex;
    align-items: center;

    transition: color 0.3s;
}
.header__top__account{
    display: flex;
    align-items: center;
}
.header__top__account__signup{
    display: flex;
    padding-right: 2rem;
    gap: 1rem;

    transition: color 0.3s;
}
.header__top__account__cart{
    display: flex;
    gap: 1rem;

    transition: color 0.3s;
}

/* header__bottom */
.header__bottom{
    width: 100%;
    background-color: var(--color--light);
    color: var(--font_color--dark);
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
}
.header__bottom__logo{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Stalinist One', cursive;
    display: grid;
    place-items: center;

    transition: transform 0.3s;
}
.logo--red{
    color: var(--color--main);
}
.header__bottom__right{
    display: flex;
    flex-direction: column-reverse;
}


.search_box{
    display: flex;
}
.search_box > *{
    height: 100%;
}
.search_box > input{
    width: 40ch;
    border: 1px solid var(--color--dark);
    padding: .5rem;
    border-radius: 0px;
}
.search_box > select{
    border-radius: 0px;
    width: 11ch;
    list-style: none;
}
.search_box > button{
    background-color: var(--color--dark);
    color: var(--color--light);
    display: grid;
    place-items: center;
    border: none;

    cursor: pointer;
    transition: background-color 0.3s;
}
.search_box > button > span{
    font-size: 120%;
    width: 1.5ch;
}
.search_box{
    /* min-width: 40ch; */
}
.header__bottom__right__menu > ul{
    font-size: 2.3rem;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;

    position: relative;
}
.header__bottom__right__menu > ul > li > a::after{
    content: '';
    position: relative;
    display: block;

    height: 1px;
    width:0%;

    background-color: var(--color--dark);

    transition: width 0.3s;
}




/* ---------------------------- FOOTER ---------------------------- */


footer{
    width: 100%;
    background-color: var(--color--dark);
    color: var(--color--light);
}
.footer__main{
    letter-spacing: .1ch;
    padding: 1rem 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__main__menu{
    position: relative;
}
.footer__main__menu > ul::after{
    position: absolute;
    bottom: 50%;
    width: 110%;
    height: .3rem;
    background-color: #fff;
    content: '';
}
.footer__main__menu > ul{
    line-height: 6.5rem;
    font-size: 2rem;
    gap: 3rem;
    list-style: none;
    display: flex;
}
.footer__main__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer__main__contact__logo{
    font-size: 2rem;
    padding-bottom: .4rem;
    font-family: 'Stalinist One', cursive;
}
.footer__main__contact__data{
    font-size: 1.4rem;
    padding: .25rem 0 ;
}
.footer__main__contact__data > i{
    padding: 0 .3ch 0 0;
}
.footer__copyr{
    width: 100%;
    background-color: #222;
    color: #aaa;
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    /* padding: .3ch 0; */
}
.footer__main__menu > ul > li > a{
    transition: color 0.3s;
}








/* --------------------------------- RESPONSIVE --------------------------------- */

/* ---------------------------- HEADER ---------------------------- */
@media screen and (max-width:1100px){
    .header__bottom{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem 10%;
    }
    .header__bottom__right{
        justify-content: center;
        align-items: center;
    }
    .header__bottom__right__menu{
        display: none;
    }
    .search_box > input{
        width: auto;
    }
    .search_box{
        display: grid;
        grid-template-columns: auto 81px 81px 50px;
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .header__top__account__signup a{
        display:none;
    }
}
@media screen and (max-width:500px){
    .header__top{
        padding: .4rem 2.5%;
    }
    .header__bottom{
        padding: 1rem 2.5%;
    }
}
@media screen and (max-width:420px){
    /* .search_box{
        display: flex;
        flex-direction: column;
    }
    .search_box > input{
        width: 100%;
    }
    .search_box > select{
        width: 100%;
        height:27px;
    }
    .search_box > button{
        width:100%;
        height:35px;
    } */

    .search_box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .search_box > input{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .search_box > select{
        width:100%;
        height:24px;
    }
    .search_box > button{
        width:100%;
        height:35px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}


/* ---------------------------- FOOTER ---------------------------- */
@media screen and (max-width:990px){
    .footer__main{
        flex-direction: column;
        align-items: center;

        padding: 2rem 10%;
    }
    .footer__main__menu{
        margin-bottom: 40px;
    }
}
@media screen and (max-width:600px){
    .footer__main__menu{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer__main__menu > ul{
        flex-direction: column;
        gap:0;
        line-height: 3.5rem;
    }
    .footer__main__menu > ul::after{
        display:none;
    }
}

@media screen and (max-width:500px){
    .footer__main{
        padding:1rem 2.5%;
    }
}








/* --------------------------------- PSEÅDO-KLASA-HAWER --------------------------------- */
.search_box > button:hover{
    background-color: var(--color--main);
}
.header__top__social > a:hover{
    color: var(--color--main);
}
.header__top__account__signup:hover{
    color: var(--color--main);
}
.header__top__account__cart:hover{
    color: var(--color--main);
}
.header__bottom__right__menu > ul > li > a:hover::after{
    width:100%;
}
.header__bottom__logo:hover{
    transform: scale(1.05);
}
.footer__main__menu > ul > li > a:hover{
    color:var(--color--main);
}