.slider{
    width: 10rem;
}
.slider > *{
    width: 100%;
}

main{
    padding:3rem 10%;
}
.product_session__top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin-bottom:5rem:
}
.product_session__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    margin-top:5rem;
}
.product_session__bottom h2{
    text-align: center;
}

.product_session__top__slider{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.5rem;
}

.product_session__top__data__platforms{
    display:flex;
    flex-direction:row;
    width: 100%;
}
.product_session__top__data__platforms .platform_box{
    padding:1rem;
}
.primary_img img{
    max-width:600px;
}
.product_session__top__description{
    /*display: flex;
    flex-direction: column;
    justify-content: flex-start;*/

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 41px 13px 0 24px 24px auto 43px;

    padding-left:0.5rem;
}

.product_session__top__data{
    display: flex;
    flex-direction: column;
}
.slider__img{
    cursor: pointer;
}

.product_session__bottom__requirements p{
    text-align: center;
}

.product_session__top__data__accessibility{
    border: 1px solid #000;
    padding:1rem;
    font-size:2.5rem;
    text-align: center;
    background-color: var(--color--dark);
    color:#fff;
}

.product_session__top__data__price{
    border: 1px solid #000;
    text-align: center;
    padding:0.7rem;
    font-size:1.8rem;
} 

.product_session__top__data__platforms{
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0;
}

.product_session__top__data__platforms .platform_box{
    flex:auto;
    border: 1px solid #000;
    text-align: center;
}

.product_session__top__data button{
    outline: none;
    border:none;
    background-color: var(--color--main);
    color:#fff;
    padding:1rem;
    font-size:2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.product_session__top__data button:hover{
    background-color: var(--color--dark);
}
.product_session__top__description{
    padding:0 1rem;
    margin:0 1rem;
}
.product_session__top__description h2{
    font-size:3.5rem;
}
.product_id{
    font-size:1.2rem;
    color:rgb(170, 170, 170);

    margin-bottom:0.5rem;
}
.product_session__top__description div{
    font-size:2rem;
}
.product_session__top__description button{
    outline: none;
    border:none;
    background-color: var(--color--main);
    color:#fff;
    padding:1rem;
    font-size:2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width:100%;
    /* margin-top:5rem; */
}
.product_session__top__description button:hover{
    background-color: var(--color--dark);
}
.product_session__bottom__descritpion h2{
    margin:1rem 0;
}
.product_session__bottom__requirements h2{
    margin:1rem 0;
}