main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 10%;
}
img{
    width:80%;
    box-shadow: 0 0 20px var(--color--dark);
}
p{
    width:80%;

    font-size:2.4rem;
    line-height: 120%;

    margin:5rem 0;
}
.red_font{
    color:var(--color--main);
    font-weight: 900;
}





/* --------------------------------- RESPONSIVE --------------------------------- */
@media screen and (max-width:500px){
    main{
        padding: 4rem 2.5%;
    }
    p{
        font-size:2rem;
    }
}